<p id="notice"><%= notice %></p>

<h1>Pos</h1>
<br>
<br>
<div class="col-md-12 full-height-scroll box">
<table class="table table-bordered">
  <thead>
  <tr>
    <th class="text-center">Pos</th>
    <th class="text-center">Sales has each Pos</th>
    <th class="text-center">Shop name belongs Pos</th>
  </tr>
  </thead>

  <tbody>
    <% @pos.each do |po| %>
      <tr>
        <td class="text-center"><%= po.shop_id %></td>
        <td class="text-center"><%= po.number %></td>
        <td class="text-center"><%=  %></td>
        <td class="text-center"><%= link_to 'Show', po, class: 'btn btn-primary' %></td>
        <td class="text-center"><%= link_to 'Edit', edit_po_path(po), class: 'btn btn-warning' %></td>
        <td class="text-center"><%= link_to 'Destroy', po, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br><br><br><br><br>
<%= link_to 'New Po', new_po_path, class: 'btn btn-success' %>
