<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="txt-color-white">Almacen <span class="hidden-xs"> - Evaluacion Rails</span> ©</span>
    </div>

  </div>
</div>
