<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">

  </div>

  <nav>

    <ul>
      <%#= left_menu %>
      <%= link_to 'Shop',  shops_path , class: 'btn btn-info' %>
      <br><br><br><br><br>
      <%= link_to 'Pos',  pos_path , class: 'btn btn-success' %>
      <br><br><br><br><br>
      <%= link_to 'Sale',  sales_path , class: 'btn btn-danger' %>
      <br><br><br><br><br>
      <%= link_to 'Product',  products_path , class: 'btn btn-warning' %>
    </ul>
  </nav>

</aside>
