<%= form_for(name_profile) do |f| %>
  <% if name_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(name_profile.errors.count, "error") %> prohibited this name_profile from being saved:</h2>

      <ul>
      <% name_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :created_at %>
    <%= f.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= f.label :updated_at %>
    <%= f.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
