<p id="notice"><%= notice %></p>

<h1>Name Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @name_profiles.each do |name_profile| %>
      <tr>
        <td><%= name_profile.name %></td>
        <td><%= name_profile.created_at %></td>
        <td><%= name_profile.updated_at %></td>
        <td><%= link_to 'Show', name_profile %></td>
        <td><%= link_to 'Edit', edit_name_profile_path(name_profile) %></td>
        <td><%= link_to 'Destroy', name_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Name Profile', new_name_profile_path %>
