<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @name_profile.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @name_profile.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @name_profile.updated_at %>
</p>

<%= link_to 'Edit', edit_name_profile_path(@name_profile) %> |
<%= link_to 'Back', name_profiles_path %>
