<p id="notice"><%= notice %></p>

<h1>Sales</h1>
<br>
<br>
<div class="col-md-12 full-height-scroll box">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">Sales</th>
      <th class="text-center">Products for sale</th>
      <th class="text-center">id Pos</th>
      <th class="text-center">Name Shop</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td class="text-center"><%= sale.pos_id %></td>
        <td class="text-center"><%= sale.ticket %></td>
        <td class="text-center"><%= sale.amount %></td>
        <td class="text-center"><%= %></td>
        <td class="text-center"><%= link_to 'Show', sale, class: 'btn btn-primary' %></td>
        <td class="text-center"><%= link_to 'Edit', edit_sale_path(sale), class: 'btn btn-warning' %></td>
        <td class="text-center"><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<br>
<br>
<br>
<%= link_to 'New Sale', new_sale_path, class: 'btn btn-success' %>
