<p id="notice"><%= notice %></p>

<h1>Shops</h1>
<br>
<br>
<div class="col-md-12 full-height-scroll box" >
<table class="table table-bordered">
  <thead>
  <tr>
    <th class="text-center">Shops</th>
    <th class="text-center"># Pos has each Shop</th>
  </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td class="text-center"><%= shop.name %></td>
        <td class="text-center"><%=  %></td>
        <td class="text-center"><%= link_to 'Show', shop, class: 'btn btn-primary' %></td>
        <td class="text-center"><%= link_to 'Edit', edit_shop_path(shop), class: 'btn btn-warning' %></td>
        <td class="text-center"><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<br>
<br>
<%= link_to 'New Shop', new_shop_path, class: 'btn btn-success' %>
