<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Product %>
    <%= f.text_field :product_name %>
  </div>

  <div class="field">
    <%= f.label :Ticket %>
    <%= f.number_field :sale_id %>
  </div>

  <div class="field">
    <%= f.label :Pos %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :Shop %>
    <%= f.text_field :unity %>
  </div>

<!--  <div class="field">
    <%#= f.label :unity %>
    <%#= f.text_field :unity %>
  </div>-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
