<p id="notice"><%= notice %></p>

<h1>Products</h1>
<br>
<br>
<div class="col-md-12 full-height-scroll box">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">List Products</th>
      <th class="text-center"># Ticket</th>
      <th class="text-center"># Pos</th>
      <th class="text-center">Shop Name</th>
    </tr>
  </thead>


  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="text-center"><%= product.product_name %></td>
        <td class="text-center"><%= product.sale_id %></td>
        <td class="text-center"><%= product.amount %></td>
        <td class="text-center"><%= product.unity %></td>
        <td class="text-center"><%= link_to 'Show', product, class: 'btn btn-primary' %></td>
        <td class="text-center"><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning' %></td>
        <td class="text-center"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<br>
<br>
<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
