<h1>Home#index</h1>



<p id="notice"><%= notice %></p>


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">

    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox float-e-margins">
    </div>
    <div class="inbox-content">
      <table class="table table-hover table-striped table-responsive">
      </table>

      <div class="col-md-12 hr-line-dashed"></div>
      <p id="notice"><%= notice %></p>
      <%#= link_to 'New profile', new_profile_path, class: 'btn btn-w-m btn-success' %>
    </div>
  </div>
</div>
